<ion-toolbar>
  <ion-buttons slot="start">
    <img src="assets/icon/logo.png" alt="Logo" class="logo-image"/>
    <img src="assets/icon/sair.png" alt="Logo" class="logo-image" style="margin-left: 270px; height: 40px;"/>
  </ion-buttons>
  <ion-title classs="ion-text-center" style="background-color: #3498db;">
    Perfil
  </ion-title>
</ion-toolbar>
<ion-content>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button (click)="addLikes()">
      <ion-icon name="thumbs-up-sharp"></ion-icon>
    </ion-fab-button>
    <ion-badge color="danger">{{likes}}</ion-badge>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col id="fotoPerfilCol">
        <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIG.D94AVHk1HhjbYkd2wpnR?pid=ImgGn" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="nome">Matheus Abade</ion-col>
    </ion-row>
    <ion-row>
      <ion-col id="apelido">CEO</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="i1"><ion-icon name="logo-angular"></ion-icon></ion-col>
      <ion-col class="i2"><ion-icon name="logo-react"></ion-icon></ion-col>
      <ion-col class="i3"><ion-icon name="logo-ionic"></ion-icon> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="i2"><ion-icon name="logo-github"></ion-icon></ion-col>
      <ion-col class="i2"><ion-icon name="logo-reddit"></ion-icon></ion-col>
      <ion-col class="i2"><ion-icon name="logo-windows"></ion-icon></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="i1"><ion-icon name="logo-twitch"></ion-icon></ion-col>
      <ion-col class="i2"><ion-icon name="logo-youtube"></ion-icon></ion-col>
      <ion-col class="i3"><ion-icon name="logo-discord"></ion-icon>x</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>