<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/logo.png" alt="Logo" class="logo-image"/>
    </ion-buttons>
    <ion-title classs="ion-text-center">
      MGA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header [translucent]="false">
  </ion-header>

  <br><br>  
<ion-toolbar>
  
  <ion-title classs="ion-text-center">
    Lojas
  </ion-title>
</ion-toolbar>
  <ion-card>
    <ion-card-header> 
      <ion-card-title>Barra da Tijuca</ion-card-title>
      <ion-card-subtitle>Loja fisica - Rio de Janeiro</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <img alt="Silhouette of mountains" src="https://www.google.com/maps/d/thumbnail?mid=1FqTdM-v_sIApZBd_zqiGDPXm2qQ&hl=en_US" style="width: 80%; height: 160px;"/>
    </ion-card-content>
  
    <ion-button fill="clear">Mais detalhes</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Vicente de Carvalho</ion-card-title>
      <ion-card-subtitle>Loja fisica - Rio de Janeiro</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <img alt="Silhouette of mountains" src="https://www.google.com/maps/d/thumbnail?mid=1hFtejFNUGR1-eGepA9rSliAATYYez2sZ&hl=en_US" style="width: 80%; height: 180px;"/>
    </ion-card-content>
  
    <ion-button fill="clear">Mais detalhes</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Avenida Paulista</ion-card-title>
      <ion-card-subtitle>Loja fisica - São Paulo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <img alt="Silhouette of mountains" src="https://www.google.com/maps/d/thumbnail?mid=1v-APi2I0BojSGeed5PVoRrPkYKg&hl=en_US" style="width: 80%; height: 180px;"/>
    </ion-card-content>
  
    <ion-button fill="clear">Mais detalhes</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>25 de Março</ion-card-title>
      <ion-card-subtitle>Loja fisica - São Paulo</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <img alt="Silhouette of mountains" src="https://www.google.com/maps/d/thumbnail?mid=13v3qHI5N6CTL55uZOyeUPFO4k7s&hl=en_US" style="width: 80%; height: 180px;"/>
    </ion-card-content>
  
    <ion-button fill="clear">Mais detalhes</ion-button>
  </ion-card>

</ion-content>
