
ion-header {
    --ion-toolbar-background: #3498db;
    color: #fff;
  
    ion-toolbar {
      --ion-color-base: #3498db;
    }
  }

  .logo-image {
    width: 45px;
    height: 45px; 
}

ion-content {
    ion-card {
      margin: 16px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
      img {
        width: 100%;
      }
  
      ion-card-header {
        ion-card-title {
          font-size: 1.5rem;
          font-weight: bold;
          color: rgb(52, 152, 219)
        }
    }
  }
}