<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="assets/icon/logo.png" alt="Logo" class="logo-image"/>
    </ion-buttons>
    <ion-title classs="ion-text-center">
      MGA
    </ion-title>
    <img src="assets/icon/carrinho.png" alt="Logo" class="logo-image" style="margin-left: 270px;"/>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header [translucent]="false">
  </ion-header>

  <br><br>  
<ion-toolbar>
  
  <ion-title classs="ion-text-center">
    Hardware
  </ion-title>
</ion-toolbar>

<ion-searchbar></ion-searchbar>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/sync_mirakl/457920/Placa-De-V-deo-Galax-NVIDIA-GeForce-RTX-4070-12GB-GDDR6X-Ex-Gamer-White-47NOM7MD7KWH_1699898892_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 6.021,23</ion-card-title>
      <ion-card-subtitle>Placa De Vídeo Galax NVIDIA GeForce RTX 4070, 12GB, GDDR6X, Ex Gamer, White - 47NOM7MD7KWH</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 6.021,23</p>
      <p>Em até 10x de R$ 602,12 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 10% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/475438/placa-de-video-rx-6750-xt-mech-2x-12g-v1-radeon-12gb-gddr6-freesync-dual-fan_1689965385_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 1.969,99</ion-card-title>
      <ion-card-subtitle>Placa de Vídeo RX 6750 XT MECH 2X 12G V1 Radeon, 12GB GDDR6, FreeSync, Dual Fan  </ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <p>R$ 1.969,99</p>
      <p>Em até 10x de R$ 196,99 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 7% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>
    
  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/485762/console-sony-playstation-5-jogo-ea-sports-fc-24_1695395998_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 4.699,99</ion-card-title>
      <ion-card-subtitle>Console PlayStation 5 Sony + Jogo EA Sports FC 24</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
    <p>R$ 4.699,99</p>
    <p>Em até 10x de R$ 469,99 sem juros no cartão</p>
    <p>Ou em 1x no cartão com até 7% OFF</p>
    <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/320797/processador-amd-ryzen-7-5700x-cache-36mb-3-8ghz-4-6ghz-max-turbo-am4-100-100000926wof_1647636511_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 1.247,99</ion-card-title>
      <ion-card-subtitle>Processador AMD Ryzen 7 5700X, 3.4GHz (4.6GHz Max Turbo), Cache 36MB, AM4, Sem Vídeo - 100-100000926WOF</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 1.247,99</p>
      <p>Em até 10x de R$ 124,79 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 5% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/369658/fonte-msi-mag-a650bn-atx-650w-80-plus-bronze-pfc-ativo-entrada-bivolt-preto-306-7zp2b22-ce0_1665770996_m.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 269,99</ion-card-title>
      <ion-card-subtitle>Fonte MSI MAG A650BN, ATX, 650W, 80 PLUS Bronze, PFC Ativo, Entrada Bivolt, Preto - 306-7ZP2B22-CE0</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 269,99</p>
      <p>Em até 10x de R$ 26,99 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 10% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://a-static.mlcdn.com.br/800x560/placa-mae-asrock-b450m-steel-legend-amd-am4-matx-ddr4/kabum/100672/4bd819b13e16025ef3031d53c533f7c0.jpeg" />
    <ion-card-header>
      <ion-card-title>R$ 649,99</ion-card-title>
      <ion-card-subtitle>Placa Mãe ASRock B450M Steel Legend, AMD AM4, mATX, DDR4</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 764,69</p>
      <p>Em até 10x de R$ 76,46 sem juros no cartão</p>
      <p> Ou em 1x no cartão com até 10% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/130043/water-cooler-rise-mode-gamer-black-rgb-240mm-preto-rm-wcb-02-rgb_1663776681_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 199,99</ion-card-title>
      <ion-card-subtitle>Water Cooler Rise Mode Gamer Black, RGB, 240mm, Preto - RM-WCB-02-RGB</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
    <p>R$ 199,99</p>
    <p>Em até 10x de R$ 19,99 sem juros no cartão</p>
    <p>Ou em 1x no cartão com até 10% OFFR$ 235,28</p>
    <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/114642/water-cooler-rise-mode-frost-rgb-360mm-branco-rm-wcf-04-rgb_1663785613_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 339,99</ion-card-title>
      <ion-card-subtitle>Water Cooler Rise Mode Frost, RGB, 360mm, Branco - RM-WCF-04-RGB</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 339,99</p>
      <p>Em até 10x de R$ 33,99 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 10% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/228600/hd-externo-seagate-expansion-2tb-usb-ps4-xbox-preto-stkm2000400_1631630788_m.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 399,99</ion-card-title>
      <ion-card-subtitle>HD Externo Seagate Expansion, 2TB, USB, Preto - STKM2000400</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
    <p>R$ 399,99</p>
    <p>Em até 10x de R$ 39,99 sem juros no cartão</p>
    <p>Ou em 1x no cartão com até 10% OFF</p>
    <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/470987/placa-de-video-rtx-4060-eagle-oc-gigabyte-nvidia-geforce-8gb-gdrr6-dlss-ray-tracing-gv-n4060eagle-oc-8gd_1687981181_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 1.939,99</ion-card-title>
      <ion-card-subtitle>Placa de Vídeo RTX 4060 EAGLE OC Gigabyte NVIDIA GeForce, 8GB GDRR6, DLSS, Ray Tracing - GV-N4060EAGLE OC-8GD</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
    <p>R$ 1.939,99</p>
    <p>Em até 10x de R$ 193,99 sem juros no cartão</p>
    <p>Ou em 1x no cartão com até 10% OFF</p> 
    <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/474920/placa-de-video-rtx-4060-ti-ventus-3x-16g-oc-msi-nvidia-geforce-_1692648778_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 3.444,43</ion-card-title>
      <ion-card-subtitle>Placa de Vídeo RTX 4060 TI VENTUS 3X 16G OC MSI NVIDIA GeForce</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 3.444,43</p>
      <p>Em até 10x de R$ 344,44 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 10% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/129460/processador-amd-ryzen-9-5900x-cache-70mb-3-8ghz-4-7ghz-max-turbo-am4-100-100000061wof_1604585280_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 1.999,99 </ion-card-title>
      <ion-card-subtitle>Processador AMD Ryzen 9 5900X, 3.7GHz (4.8GHz Max Turbo), Cache 70MB, 12 Núcleos, 24 Threads, AM4 - 100-100000061WOF</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 1.999,99</p>
      <p>Em até 10x de R$ 199,99 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 5% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/386971/processador-intel-core-i9-13900k-5-8ghz-max-turbo-cache-36mb-24-nucleos-32-threads-lga-1700-video-integrado-bx8071513900k_1664286209_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 3.984,99</ion-card-title>
      <ion-card-subtitle>Processador Intel Core i9-13900K, 13ª Geração, 5.8GHz Max Turbo, Cache 36MB, 24 Núcleos, LGA 1700, Vídeo Integrado - BX8071513900K</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 3.984,99</p>
      <p>Em até 10x de R$ 398,49 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 10% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/113001/processador-intel-core-i9-10900kf-cache-20mb-3-7ghz-lga-1200-bx8070110900kf_1589221419_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 1.799,99</ion-card-title>
      <ion-card-subtitle>Processador Intel Core i9-10900KF, 3.7GHz (5.3GHz Max Turbo), Cache 20MB, LGA 1200 - BX8070110900KF
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 1.799,99</p>
      <p>Em até 10x de R$ 179,99 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 10% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/405802/processador-amd-ryzen-5-7900-5-4ghz-max-turbo-cache-76mb-am5-12-nucleos-video-integrado-100-100000590box_1673293476_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 2.598,99</ion-card-title>
      <ion-card-subtitle>Processador AMD Ryzen 9 7900, 5.4GHz Max Turbo, Cache 76MB, AM5, 12 Núcleos, Vídeo Integrado - 100-100000590BOX</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
     <p>R$ 2.598,99</p>
     <p>Em até 10x de R$ 259,89 sem juros no cartão</p>
     <p> Ou em 1x no cartão com até 10% OFF</p>
     <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/201507/memoria-xpg-spectrix-d50-rgb-8gb-3600mhz-ddr4-cl18-cinza-ax4u36008g18i-st50_1632925593_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 175,99</ion-card-title>
      <ion-card-subtitle>Memória XPG Spectrix D50, RGB, 8GB, 3600MHz, DDR4, CL18, Cinza - AX4U36008G18I-ST50</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 175,99</p>
      <p>Em até 10x de R$ 17,59 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 10% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/201511/memoria-xpg-spectrix-d60g-rgb-16gb-2x8gb-3600mhz-ddr4-cl18-cinza-ax4u36008g18i-dt60_1632927437_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 635,28</ion-card-title>
      <ion-card-subtitle>Memória XPG Spectrix D60G, RGB, 16GB (2x8GB), 3600MHz, DDR4, CL18, Cinza - AX4U36008G18I-DT60</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 635,28</p>
      <p>Em até 10x de R$ 63,52 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 10% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/272357/ssd-kingston-fury-renegade-2000gb-m-2-2280-pcie-nvme-leituras-7-300mb-s-gravacao-7-000mb-s-sfyrd-2000g_1637329356_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 1.099,99</ion-card-title>
      <ion-card-subtitle>SSD 2 TB Kingston Fury Renegade, M.2 2280 PCIe, NVMe, Leitura: 7300MB/s e Gravação: 7000MB/s, Preto - SFYRD/2000G</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 1.099,99</p>
      <p>Em até 10x de R$ 109,99 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 10% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/115749/ssd-pny-cs900-480gb-sata-2-5-leituras-550mb-s-e-gravacoes-500mb-s-ssd7cs900-480-rb_1596640421_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 199,99</ion-card-title>
      <ion-card-subtitle>SSD 480GB PNY CS900, SATA 2.5", Leitura: 550MB/s e Gravação: 500MB/s - SSD7CS900-480-RB</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 199,99</p>
      <p>Em até 10x de R$ 19,99 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 10% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://images.kabum.com.br/produtos/fotos/95217/95217_1520016025_gg.jpg" />
    <ion-card-header>
      <ion-card-title>R$ 327,77</ion-card-title>
      <ion-card-subtitle>SSD 960 GB Kingston A400, SATA, Leitura: 500MB/s e Gravação: 450MB/s - SA400S37/960G</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>R$ 327,77</p>
      <p>Em até 10x de R$ 32,77 sem juros no cartão</p>
      <p>Ou em 1x no cartão com até 10% OFF</p>
      <p style="text-decoration: underline;">Mais opções de pagamento</p>
    </ion-card-content>

    <ion-button>Comprar</ion-button>
  </ion-card>

</ion-content>
